.footer.button-container {
  display: flex;
  flex-direction: row-reverse;
  float: right;
  padding: 20px;
}

.footer .plan-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  font-size: 10px;
  color: gray;
  padding-right: 30px;
}

.footer .plan-info-container .plan-price {
  color: white;
  font-size: 15px;
}